:root {
    --fondoPrincipal: rgb(0, 47, 91);
    --colorCard: rgb(45, 98, 255);
    --fondoCard: rgb(0, 47, 91);

    --fuenteCard: 'Oxygen', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fondoPrincipal);
}

/*_________ BACKGROUND _________*/

.background-icons {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: column;
    justify-content: space-around;
}

.background-icons .row {
    position: relative;
    top: -2rem;
    height: 100%;
    white-space: normal;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.background-icons .row .i--cont {
    display: flex;
    flex-direction: column;
    animation: moveIcons 20s ease-in-out infinite;
    color: rgb(0, 35, 67);
}

.background-icons .row:nth-child(even) i {
    transform: translateY(4rem);
}

.background-icons .row .i--cont i {
    padding-top: 5rem;
}

/*_________ CONTENIDO PRINCIPAL _________*/

.art-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
    height: auto;
    padding-bottom: 5rem;
}

.art-container .cards-container {
    position: relative;
    margin: 0 auto;
    margin-top: 5rem;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;    
}

.art-container .cards-container .art-card {
    position: relative;
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    font-family: var(--fuenteCard);
    transition: 0.4s;
}

.art-container .cards-container .art-card::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.162);
    border-radius: 15px;
    filter: blur(5px);
    transition: 0.5s;
}
.art-container .cards-container .art-card:hover {
    transform: scale(1.15);
}

.art-container .cards-container .art-card:hover:before {
    transform: scale(1.05);
    filter: blur(20px);
    transition: 0.2s;
}

.art-container .cards-container .art-card .fc {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    transition: 0.5s;
}

.art-container .cards-container .art-card .front-face {
    background-color: red;
    border-radius: 15px;
    overflow: hidden;
    transform: perspective(500px) rotateX(0deg);
}

.art-container .cards-container .art-card .front-face .prox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: rgb(119, 119, 119);
    background-color: rgb(36, 36, 36);
}

.art-container .cards-container .art-card .front-face img {
    height: 100%;
}

.art-container .cards-container .art-card .back-face {
    background-color: var(--colorCard);
    transform: perspective(500px) rotateX(180deg);
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.art-container .cards-container .art-card .back-face h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.art-container .cards-container .art-card .back-face p {
    position: relative;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.art-container .cards-container .art-card .back-face a {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 2rem;
    width: 12rem;
    height: 3rem;
    border-radius: 50px;
}
.art-container .cards-container .art-card .back-face a button {
    bottom: 2rem;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-color: black;
    transition: 0.2s;
    font-size: 1rem;
}

.art-container .cards-container .art-card .back-face a button i {
    margin-right: 0.5rem;
}

.art-container .cards-container .art-card .back-face a button:hover {
    transform: scale(1.03);
    transform: translateX(-.06rem);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.121);
    transition: 0.5s;
    cursor: pointer;
}

.art-container .cards-container .art-card:hover .front-face {
    transform: perspective(500px) rotateX(180deg);
}

.art-container .cards-container .art-card:hover .back-face {
    transform: perspective(500px) rotateX(360deg);
}

.in--proccess {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 2.5rem;
    top: 3rem;
    left: -4rem;
    background-color: rgb(255, 0, 0);
    width: 15rem;
    height: 3rem;
    transform: rotate(-50deg);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.324);
}

@media (max-width: 1150px) {
    .art-container .cards-container {
        margin-top: 1rem;
    }
    .art-container .cards-container .art-card {
        transform: scale(0.8);
    }

    .art-container .cards-container .art-card:hover{
        transform: scale(0.9);
    }
}

@media (max-width: 768px) {
    .art-container .cards-container {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .art-container .cards-container .art-card {
        width: 22rem;
        height: 15rem;
    }

    .art-container .cards-container .art-card:hover{
        transform: scale(0.8);
    }

    .in--proccess {
        transform: rotate(-50deg) scale(0.6); 
        top: 1.4rem;
        left: -5.5rem;
    }

    .art-container .cards-container .art-card .back-face h2 {
        margin-bottom: 0.3rem;
        user-select: none;
    }
    .art-container .cards-container .art-card .back-face p {
        font-size: 1.2rem;
        user-select: none;
    }
}

@media (max-width: 275px) {
    .art-container .cards-container .art-card {
        width: 16.5rem;
        height: 12rem;
    }

    .art-container .cards-container .art-card:hover{
        transform: scale(0.8);
    }

    .art-container .cards-container .art-card .back-face h2 {
        margin-bottom: 0.3rem;
        user-select: none;
        font-size: 2rem;
    }
    .art-container .cards-container .art-card .back-face p {
        font-size: 0.9rem;
        user-select: none;
    }

    .art-container .cards-container .art-card .back-face a {
        bottom: 0;
        transform: scale(0.6);
    } 
    .art-container .cards-container .art-card .back-face a button {
        bottom: 0;
    }
}

@keyframes moveIcons {
    0% {transform: translateY(-50%);}
    100% {transform: translateY(0%);}
}